.Users {
}

.users-list-container {
  min-height: 10vh;
  max-height: 35vh;
  overflow-x: scroll;
  overflow-y: none;
  border: 1px solid rgb(201, 201, 201);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
