* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: start;
  gap: 2rem;
  max-height: 90vh;
  max-width: 750px;
  min-width: 400px;
  /* border: 1px solid red; */
}

.title {
  grid-column: span 2;
}

.TimerInput {
  grid-column: span 2;
}

.Stopwatch {
  grid-column: span 2;
}

.Users {
  width: 80%;
}

.instruction-text {
  font-style: italic;
  color: rgb(65, 65, 65);
}
